*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.btn{
    padding: 10px 16px;
    border: none;
    cursor: pointer;
}

.opacity{
    opacity: 0;
}
