:root{
    --primary-color-sign-in: #f43648;
    --primary-color-sign-up: #03a9f4;
    --text-color-sign: rgb(102, 102, 102);
    --color-sign-change-1: #03a9f4;
    --color-sign-change-2: #f43648;
    --border-color: rgb(102, 102, 102);
};